## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head(50)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,HERITAGE ACADEMY,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,V O W FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,INTERNATIONAL FELINE SHOWCASE,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,METAMORPHASIS POWERHOUSE COMPANY,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,REACH FOR EXCELLENCE INC,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,INTERNATIONAL ASSOCIATION OF LIONS CLUB,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,SONS OF CONFEDERATE VETERANS INC,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,10629331,MAGDALENA OLD TIMERS REUNION ASSOCIATION,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,10631060,INFRAGARD NATIONAL MEMBERS ALLIANCE INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,10635952,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,10637680,FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,10637829,HAWAII TRAVEL & TOURISM RESEARCH ASSOCIATION,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1
30,10637920,MEDICAL STAFF OF PARKVIEW COMMUNITY HOSPITAL M...,T6,Independent,C2000,ProductDev,Trust,1,100000-499999,N,323466,1
31,10638860,CLEAR UP SKIN CARE,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
32,10639038,STAR TOURING AND RIDING SACARMENTO CHAPTER 153,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
33,10641003,SHERIFFS COMMUNITY ORGANIZED POLICING EFFORTS,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34,10642634,DOCTORS OFFERING CHARITABLE SERVICES,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0
35,10648919,G A P MINISTRIES,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
36,10655941,MELLOWTONES BIG BAND INC,T4,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
37,10656131,SAI HUMANITARIAN INSTITUTE OF LEARNING AND HEA...,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
38,10656251,RIVERVIEW 2,T7,Independent,C1000,ProductDev,Association,1,0,N,5000,0
39,10656605,ERASTO R BATONGMALAQUE FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,5000,1
40,10662680,TIFTON JUDICIAL CIRCUIT SHELTER INC,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,709815,0
41,10664127,IBEW LOCAL 180 HOLDING COMPANY,T2,Independent,C1000,ProductDev,Trust,1,25000-99999,N,1329410,0
42,10669807,ORLANDO PARROT HEADS OF CENTRAL FLORIDA INC,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
43,10671224,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
44,10672368,HOLY SPIRIT CHURCH AND INSTITUTE INC,T3,Independent,C7200,Preservation,Trust,1,0,N,5000,1
45,10681022,K-9 SEARCH AND RESCUE OF ORANGE CITY INC,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
46,10681362,PTA TEXAS CONGRESS,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
47,10687111,SOUTHERN CALIFORNIA NATURIST ASSOCIATION,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,0
48,10691782,MOSES SONG MINISTRIES,T3,Independent,C1700,Preservation,Trust,1,0,N,5000,1
49,10692183,VINCI PARK HOME AND SCHOOL CLUB,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAM
df = application_df.drop(["EIN", 'NAME'], axis = 1)

In [3]:
# Determine the number of unique values in each column
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17','T29','T15','T14','T25','T2','T12','T13','T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
count = df.CLASSIFICATION.value_counts(ascending=True)

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count.head(60)

C1728     1
C1370     1
C4200     1
C6100     1
C2170     1
C1732     1
C1283     1
C2190     1
C2150     1
C1820     1
C2570     1
C4500     1
C1900     1
C3700     1
C2380     1
C1245     1
C2561     1
C4120     1
C1580     1
C5200     1
C2500     1
C1570     1
C2600     1
C8210     1
C1236     1
C1248     1
C3200     2
C1267     2
C1256     2
C1246     2
C1234     2
C1260     3
C0        3
C2710     3
C1257     5
C1600     5
C4100     6
C2400     6
C1720     6
C7210     7
C1237     9
C1235     9
C1238    10
C1278    10
C8200    11
C1250    14
C6000    15
C1800    15
C1500    16
C7120    18
C8000    20
C1240    30
C7200    32
C2300    32
C1400    34
C1230    36
C1280    50
C1300    58
C7100    75
C2800    95
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(count[count < 1882].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df2 = pd.get_dummies(df, columns = ['APPLICATION_TYPE','AFFILIATION' , 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])

In [10]:
# Split our preprocessed data into our features and target arrays
# Split the data into feature and target data
X = pd.DataFrame(df2.drop(['IS_SUCCESSFUL'], axis = 1))

y = pd.array(df2['IS_SUCCESSFUL'])
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=444)
X_train

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
30356,1,500321,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
32578,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5007,1,681503,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
31085,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27640,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5615,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4790,1,4149537,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6631,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25367,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
23939,1,101930,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 18

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 1053

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 1,252
Trainable params: 1,252
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
y_test = np.array(y_test)
y_train = np.array(y_train)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5944 - accuracy: 0.7112
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7264
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7273
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7278
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7307
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7307
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7321
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7327
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7334
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7337
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7341
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7331
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7337
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7347
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7335
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7339
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7348
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7348
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7347
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7361
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7352
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7366
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7370
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7361
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7362
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7371
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7371
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7370
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7362
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7359
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7364
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7363
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7370
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7365
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7363
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7373
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7378
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7375
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7374
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7377
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7373
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7370
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7371
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7373
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7376
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7376
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7379

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
nn.save('Resources/AlphabetSoupCharity.h5')